*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}

.color-column{
    display: flex;
}

@media (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
        
    }

    .container .color-column{
        height: 100%;
    }
    
}

.container .color-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.1px solid black;
    justify-content: center;
    align-items: center;
    
}

.code-label{
    font-size: clamp(25px, 2vw, 2rem);
}

.palette_btn{
    position: absolute;
    width: 90px;
    bottom: 50px;
    right: 50%;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}

.palette_btn:hover{
    color: white;
    background-color: black;
}



.fa-lock{
    display: none;
}

.container div.locked .fa-lock{
    display:inline-block
}

.container div.locked .fa-lock-open{
    display: none;
}